<div class="comment__header">
    <p class="mb-0">{{comment.user.username}}</p>
    <div class="comment__header__date d-flex justify-content-start mb-4">
        <p class="mb-0">
            {{formatDate(comment.created_at.toString())}} 
        </p>
        <p class="ml-2 mb-0">{{formatHour(comment.created_at.toString())}}</p>
    </div>
</div>
<div class="comment__content">
    {{comment.content}}
</div>
<div class="comment__footer d-flex justify-content-end">
    <p (click)="showSubComments()" class="mb-0"><i class="h2 bi bi-chat"></i></p>
</div>  
<div *ngIf="displayingSubComments">
    <div class="container">
        <sub-comment-create [commentId]="comment.id"></sub-comment-create>
    </div>
    <sub-comment *ngFor="let subcomment of comment.subcomments" [subcomment]="subcomment"></sub-comment>
    <div class="container">
        <sub-comment-create [commentId]="comment.id"></sub-comment-create>
    </div>
</div>