* {
    text-decoration: none;
    color:black;
    font-size:12px;
}

.topic{
    border:1px solid black;
    padding:5px;
    &:hover{
        background-color: #c1b6e9;
    }
    p{
        margin-bottom: 0;
    }
   .topic__header{
       position:relative;
       margin-bottom: 20px;
        .topic__header__name{
            font-weight: bold;
            vertical-align: bottom;
            font-size: 15px;
        }
       .topic__category__name{
        position: absolute;
        right:-5px;
        top:-5px;
        border:1px solid rgb(125, 125, 202);
        background-color: rgb(125, 125, 202);
        font-weight: bold;
        color:white;
        padding:10px;
        width:100px;
        }
   }
   .topic__footer{
   }
}
