<div class="container topic">
    <a routerLink="/forum/categories/3">
        <div class="topic__header d-flex">
            <p class="topic__header__name">{{topic.name}}</p>
            <p class="topic__category__name">{{topic.category.name}}</p>
        </div>
        <div class="topic__content">
            {{topic.content}}
        </div>
        <div class="topic__footer d-flex justify-content-between mt-4">
            <div class="d-flex col-7">
                <p class="topic__footer__author">Par {{topic.author}}</p>
                <p class="ms-2 topic__footer__date">11 janvier</p>
                <p class="ms-2 topic__footer__hour">16 : 45</p>

            </div>
            <div col="d-flex col-3">
                <p class="topic__footer__messages">38 commentaires</p>
            </div>
        </div>
    </a>
</div>

