.topic{
    border:1px solid #CCCCCC;
    padding:15px;
    border-radius: 5px;
}

.answer__form{
    border-top:3px solid rgb(255, 255, 255);
    padding-top: 20px;
}
.topic__name{
    color:rgb(226, 43, 104);
    font-weight: bold;
    font-size:25px;
}
.response__number{
    font-size:20px;
    color:rgb(255, 255, 255);
}

.answer{
    border-bottom:1px dashed rgb(200, 198, 198);
    padding:20px 0px;
}

.back__button{
    cursor:pointer;
}
.back__button:hover{
    font-weight: bold;
    color:rgb(226, 43, 104);
}