<div class="container mt-4">
    <div>
        <a href="#">Retour à la liste des sujets</a>
    </div>
    <div class="row mt-4 mb-5">
        <div class="col-12">
            <h3 class="topic__name">{{topic.name}}</h3>
            <div class="topic">
                <div class="topic__header">
                    <p class="mb-0">{{topic.author}}</p>
                    <div class="topic__header__date d-flex justify-content-start mb-4">
                        <p class="mb-0">10 janvier 2022</p>
                        <p class="ml-2 mb-0">16:45</p>
                    </div>
                </div>
                <div class="topic__content">
                    {{topic.content}}
                </div>
            </div>
        </div>
    </div>
    <div class="row answer__form">
        <p class="response__number">38 réponses</p>
    </div>
    <p>//FORMULAIRE CREATION MESSAGE AU TOPIC</p>
    <div class="row answers">
        <div class="answer">
            <div class="topic__header">
                <p class="mb-0">Author</p>
                <div class="topic__header__date d-flex justify-content-start mb-4">
                    <p class="mb-0">10 janvier 2022</p>
                    <p class="ml-2 mb-0">16:45</p>
                </div>
            </div>
            <div class="topic__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus placeat voluptatum consectetur
                nemo nihil debitis, minus, iusto architecto est facere quod id explicabo odit aut aliquid aperiam
                mollitia impedit maiores beatae aliquam accusamus magni recusandae. Reiciendis rerum saepe ad quam
                consectetur magni illo tempora velit. Ad impedit tenetur quia?
            </div>
        </div>
        <div class="answer">
            <div class="topic__header">
                <p class="mb-0">Author</p>
                <div class="topic__header__date d-flex justify-content-start mb-4">
                    <p class="mb-0">10 janvier 2022</p>
                    <p class="ml-2 mb-0">16:45</p>
                </div>
            </div>
            <div class="topic__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus placeat voluptatum consectetur
                nemo nihil debitis, minus, iusto architecto est facere quod id explicabo odit aut aliquid aperiam
                mollitia impedit maiores beatae aliquam accusamus magni recusandae. Reiciendis rerum saepe ad quam
                consectetur magni illo tempora velit. Ad impedit tenetur quia?
            </div>
        </div>
        <div class="answer">
            <div class="topic__header">
                <p class="mb-0">Author</p>
                <div class="topic__header__date d-flex justify-content-start mb-4">
                    <p class="mb-0">10 janvier 2022</p>
                    <p class="ml-2 mb-0">16:45</p>
                </div>
            </div>
            <div class="topic__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus placeat voluptatum consectetur
                nemo nihil debitis, minus, iusto architecto est facere quod id explicabo odit aut aliquid aperiam
                mollitia impedit maiores beatae aliquam accusamus magni recusandae. Reiciendis rerum saepe ad quam
                consectetur magni illo tempora velit. Ad impedit tenetur quia?
            </div>
        </div>
        <div class="answer">
            <div class="topic__header">
                <p class="mb-0">Author</p>
                <div class="topic__header__date d-flex justify-content-start mb-4">
                    <p class="mb-0">10 janvier 2022</p>
                    <p class="ml-2 mb-0">16:45</p>
                </div>
            </div>
            <div class="topic__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus placeat voluptatum consectetur
                nemo nihil debitis, minus, iusto architecto est facere quod id explicabo odit aut aliquid aperiam
                mollitia impedit maiores beatae aliquam accusamus magni recusandae. Reiciendis rerum saepe ad quam
                consectetur magni illo tempora velit. Ad impedit tenetur quia?
            </div>
        </div>
        <div class="answer">
            <div class="topic__header">
                <p class="mb-0">Author</p>
                <div class="topic__header__date d-flex justify-content-start mb-4">
                    <p class="mb-0">10 janvier 2022</p>
                    <p class="ml-2 mb-0">16:45</p>
                </div>
            </div>
            <div class="topic__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus placeat voluptatum consectetur
                nemo nihil debitis, minus, iusto architecto est facere quod id explicabo odit aut aliquid aperiam
                mollitia impedit maiores beatae aliquam accusamus magni recusandae. Reiciendis rerum saepe ad quam
                consectetur magni illo tempora velit. Ad impedit tenetur quia?
            </div>
        </div>
        <div class="answer">
            <div class="topic__header">
                <p class="mb-0">Author</p>
                <div class="topic__header__date d-flex justify-content-start mb-4">
                    <p class="mb-0">10 janvier 2022</p>
                    <p class="ml-2 mb-0">16:45</p>
                </div>
            </div>
            <div class="topic__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus placeat voluptatum consectetur
                nemo nihil debitis, minus, iusto architecto est facere quod id explicabo odit aut aliquid aperiam
                mollitia impedit maiores beatae aliquam accusamus magni recusandae. Reiciendis rerum saepe ad quam
                consectetur magni illo tempora velit. Ad impedit tenetur quia?
            </div>
        </div>
    </div>
    <div class="mt-2">
        <a href="#">Retour à la liste des sujets</a>
    </div>
    <div class="row answer__form mt-3">
        //FORMULAIRE CREATION MESSAGE AU TOPIC
    </div>
</div>