<div class="container mt-4 mb-4">
    <div>
        <p class="back__button" (click)="goBack()">Retour à la liste des sujets</p>
    </div>
    <div class="row mt-4 mb-5">
        <div class="col-12">
            <h3 class="topic__name">{{topic.title}}</h3>
            <div class="topic mt-4">
                <div class="topic__header">
                    <p class="mb-0">{{topic.user.username}}</p>
                    <div class="topic__header__date d-flex justify-content-start mb-4">
                        <p class="mb-0">
                            {{formatDate(topic.created_at.toString())}}
                        </p>
                        <p class="ml-2 mb-0">{{formatHour(topic.created_at.toString())}}</p>
                    </div>
                </div>
                <div class="topic__content">
                    {{topic.content}}
                </div>
            </div>
        </div>
    </div>
    <div class="row answer__form">
        <p class="response__number">{{topic.comments?.length}} réponses</p>
    </div>
    <comment-create (commentEvent)="addComment($event)" [topicId]="topic.id"></comment-create>
    <div class="row answers">
        <comment *ngFor="let comment of topic.comments" class="answer col-12" [comment]="comment"></comment>
    </div>
    <div class="my-4">
        <p class="back__button" (click)="goBack()">Retour à la liste des sujets</p>
    </div>
    <comment-create [topicId]="topic.id"></comment-create>
</div>