<div class="container forum__header mb-5 mt-3">
    <form class="row d-flex justify-content-center">
        <div class="col-12 d-flex row justify-content-center">
            <div class="col-7">
                <h5>Rechercher un sujet </h5>
                <input type="text" class="form-control header__query__input" name="query" id="query">
            </div>
            <div class="col-2 d-flex align-self-end">
                <button class="ml-2 btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>
</div>