<div class="container topic">
    <a href="#">
        <div class="row">
            <div class="col-1 d-flex justify-content-center align-items-center">
                <i class="bi bi-bell h6"></i>
            </div>
            <div class="col-6 d-flex justify-content-start align-items-center">
                <p class="topic__name mb-0">{{topic.name}}</p>
            </div>
            <div class="col-3 d-flex justify-content-start align-items-center">
                <p class="topic__message__number mb-0">440 000 </p>
            </div>
            <div class="col-2 topic__author">
                <p class="mb-0">{{topic.created_at}} à 18h24 </p>
                <p class="mb-0">par {{topic.author}}</p>
            </div>
        </div>
    </a>
</div>