<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Espace Client</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a>Devenir Client chez CapBanque</a>
        </li>
        <li>
          <a>Create Event</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="">Angular Connect</a>
            </li>
          </ul>
        </li>
      </ul>
      <form id="searchForm" class="navbar-form navbar-right" >
        <div class="form-group">
          <input
            name="searchTerm"
            type="text"
            class="form-control"
            placeholder="Search Sessions"/>
        </div>
        <button class="btn btn-default" modal-trigger="searchResults">
          Search
        </button>
      </form>
    </div>
  </div>
  <div>
    
     <nav class="nav navbar-expand-sm bg-light navbar-light">
      <ul class="navbar navbar-nav">
          <li>
              <button (click)="onGetAllComptesNav()" class="btn btn-sm btn-outline-info ml-2"> ------</button>
          </li>
      </ul>
    </nav>
   
  </div>
</div>


