<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">CapBanque</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a
            [routerLink]="['/home']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            >Home</a
          >
        </li>
        <li>
          <a
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            >Mon RIB</a
          >
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Mes Comptes
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="">Compte courant</a>
            </li>
            <li>
              <a href="">Comptes Epargne</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Effectuer un virement
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="">Virement interne</a>
            </li>
            <li>
              <a href="">Virement externe</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
           
          </li>
        </ul>
      </div>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            
            <a
              
              [routerLink]="['']"
              >Forum</a
            >
          </li>
        </ul>
      </div>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            
            <a
              
              [routerLink]="['']"
              >Profile</a
            >
          </li>
        </ul>
      </div>
      <form
        id="searchForm"
       
        class="navbar-form navbar-right"
      >
        <div class="form-group">
          <input
          
            name="searchTerm"
            type="text"
            class="form-control"
            placeholder="search..."
          />
        </div>
        <button class="btn btn-default" modal-trigger="searchResults">
          Search
        </button>
      </form>
    </div>
  </div>
</div>