<h1 style="margin: 20px">Transaction history</h1>
<hr style="height: 2px; color: white; background-color: white; border: none;"/>

<form
        id="searchForm"
        (ngSubmit)="searchOperations(searchTerm)"
        style="margin-top: 20px;"
        
      >
        <div class="form-group" style="display:inline-block;">
          <input 
            style="width:200px; height:30px; font-size: 12px;"
            [(ngModel)]="searchTerm"
            name="searchTerm"
            type="text"
            class="form-control"
            placeholder="Search operation"
          />
        </div>
        
        <button style="display:inline-block;" class="btn btn-secondary" style="color: white; margin-left: 5px; height:30px;">
          Search
        </button>
        
</form>


<table class="table table-hover " style="background-color: rgb(207, 213, 224);">
    <thead style="background-color:rgb(33, 33, 114) ; color: white;">
      <tr>
        <th class="text-center" scope="col">Date</th>
        <th class="text-center" scope="col">Amount</th>
        <th class="text-center" scope="col">From</th>
        <th class="text-center" scope="col">To</th>
        <th class="text-center" scope="col">Frequence</th>
        <th class="text-center" scope="col">OperationId</th>
      </tr>
    </thead>
    <tbody>
        
            <tr *ngFor="let operation of operations">
                <td class="text-center">{{operation?.operationDate | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center">{{operation?.amount | currency:'EUR'}}</td>
                <td class="text-center">{{operation?.compteSender}}</td>
                <td class="text-center"*ngIf="operation?.compteReceiver">{{operation?.compteReceiver}}</td>
                <td class="text-center" *ngIf="operation?.ribReceiver">{{operation?.ribReceiver}}</td>
                <td class="text-center">null</td>
                <td class="text-center">{{operation?.frequence}}</td>
                <td class="text-center">{{operation?.operationId}}</td>
            </tr>
          
    </tbody>
  </table>
