.header{
    background-color: #DDDDDD;
    padding:15px;
    display: flex;
    justify-content: space-between;
}

.header input{
    width:100%;
}
.header button{
    padding-top:8px;
    padding-bottom: 8px;
    background-color:rgb(246, 74, 223);
    border-radius:10px;
    color:white;
    width:100px;
}