<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <h3>Messages sur le forum {{category.name}}</h3>
    </div>
    <topic-create></topic-create>
    <div class="header mt-1 row">
        <div class="col-5 d-flex align-items-center">
            <input type="text" name="search" id="search">
        </div>
        <div class="col-3">
            <button>Filtrer</button>
        </div>
    </div>
    <div class="topics mt-2">
        <div class="row">
            <div class="col-6">
                <p>SUJET</p>
            </div>
            <div class="col-3">
                <p>DERNIERE REPONSE</p>
            </div>
            <div class="col-3">
                <p class="text-center">MESSAGES</p>
            </div>
        </div>
        <div class="row mb-3" *ngFor="let topic of category.topic">
            <div class="col-6">
                <a class="" routerLink="/forum/topics/{{topic.id }}">{{topic.title}}</a>
                <div class="d-flex mt-4">
                    <p>Par {{topic.user.username}}</p>
                    <p class="mb-0 ml-1">point</p>
                    <p class="mb-0 ml-1">{{formatDate(topic.created_at.toString())}}
                        {{formatHour(topic.created_at.toString())}}</p>
                </div>
            </div>
            <div class="col-3">
                <p  *ngIf="topic.comments.length > 0" class="mb-0">{{getLastMessageData(topic.comments,"created_at")}}</p>
                <p  *ngIf="topic.comments.length > 0" class="mb-0">Par {{getLastMessageData(topic.comments,"user")}}</p>
            </div>
            <div class="col-3">
                <p class="text-center mb-0">{{topic.comments?.length}}</p>
            </div>
        </div>
    </div>
</div>