*{
    text-decoration: none;
    color:black;
    margin:20px;
}

a:hover{
  
    animation: changeeColor 0.4s linear both ;


}

    
@keyframes changeeColor {
    0%{
        color:black;
    }
    100%{
        color:blue;
    }

}