*{
    text-decoration: none;
    margin:20px;
}
a{
    color:white;
}
a:hover{
    text-decoration: none;
    animation: changeeColor 0.2s  linear both ;


}

    
@keyframes changeeColor {
    0%{
        color:white;
    }
    100%{
        color:rgb(226, 43, 104);
        font-weight: bold;
    }

}