* {
    text-decoration: none;
    color:black;
}

.topic{
    border:1px solid black;
    padding:5px;
    &:hover{
        background-color: #c1b6e9;
    }
    .topic__message__number{
        text-decoration: none;
    }
    .topic__name{
        font-size:17px;
        color:#6e70e4;
        font-weight: bold;
        text-decoration: none;
    }
    .topic__author{
        font-size:12px;
        color:black;
        font-style: none;
        text-decoration: none;
    }
}
